@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-start" >
        <div class="col-md-4 mb-3">
            <img src="/images/9789750726439_front_cover.jpg" class="img-thumbnail" alt="Cinque Terre"
                 width="304" height="236">
        </div>
        <div class="col-md-4 mb-3">
            <img src="/images/9789750738906_front_cover.jpg" class="img-thumbnail" alt="Cinque Terre"
                 width="304" height="236">
        </div>
        <div class="col-md-4 mb-3">
            <img src="/images/9789750764523_front_cover.jpg" class="img-thumbnail" alt="Cinque Terre"
                 width="304" height="236">
        </div>

    </div>
</div>
